<?xml version="1.0"  encoding="UTF8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tanyiqu.mapper.TeacherMapper">
    <select id="getTeachers" resultMap="TeacherMap">
        select s.id sid, s.name sname, t.id tid, t.name tname
        from teacher t, student s
        where s.tid = t.id;
    </select>

    <!--
        1.按照结果嵌套查询
    -->
    <select id="getTeacherById" resultMap="TeacherMap">
        select s.id sid, s.name sname, t.id tid, t.name tname
        from teacher t, student s
        where s.tid = t.id and t.id=#{tid};
    </select>
    <resultMap id="TeacherMap" type="teacher">
        <result property="id" column="tid"/>
        <result property="name" column="tname"/>
        <collection property="students" ofType="student">
            <result property="id" column="sid"/>
            <result property="name" column="sname"/>
            <result property="tid" column="tid"/>
        </collection>
    </resultMap>

    <!--
        2.
    -->
    <select id="getTeacherById2" resultMap="Teacher2">
        select * from teacher where id=#{tid};
    </select>
    <resultMap id="Teacher2" type="teacher">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="students" column="id" javaType="ArrayList" ofType="student" select="getStudentByTid"/>
    </resultMap>
    <select id="getStudentByTid" resultType="student">
        select * from student where tid=#{tid};
    </select>

</mapper>