<?xml version="1.0"  encoding="UTF8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="com.tanyiqu.mapper.UserMapper">

    <!-- 查询所有用户 -->
    <select id="getUsers" resultType="user">
        select * from user;
    </select>

    <select id="findUserById" resultType="user">
        select * from user where id=#{id};
    </select>


    <resultMap id="userMap" type="user">
        <result column="pwd" property="password"/>
    </resultMap>
    <select id="findUserByIdWithResultMap" resultMap="userMap">
        select * from user where id=#{id};
    </select>

</mapper>