<?xml version="1.0"  encoding="UTF8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.com.tanyiqu.mapper.UserMapper">
    <select id="getUsers" resultType="com.com.tanyiqu.pojo.User">
        select * from user
    </select>
</mapper>