<?xml version="1.0"  encoding="UTF8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tanyiqu.mapper.IUserMapper">

    <!-- 查询所有用户 -->
    <select id="getUsers" resultType="com.tanyiqu.pojo.User">
        select * from user;
    </select>

    <!-- 根据id查用户 -->
    <select id="getUserById" parameterType="int" resultType="com.tanyiqu.pojo.User">
        select * from user where id = #{id};
    </select>

    <!-- 添加一个用户 -->
    <insert id="addUser" parameterType="com.tanyiqu.pojo.User">
        insert into user (id,name,pwd) values (#{id},#{name},#{pwd});
    </insert>

    <insert id="addUser2" parameterType="map">
        insert into user (id,name,pwd) values (#{id},#{name},#{pwd});
    </insert>

    <!-- 修改用户-->
    <update id="updateUser" parameterType="com.tanyiqu.pojo.User">
        update user set name=#{name}, pwd=#{pwd} where id=#{id};
    </update>

    <update id="updateUserPwd" parameterType="map">
        update user set pwd=#{pwd} where id=#{id};
    </update>


    <!-- 删除用户-->
    <delete id="deleteUser" parameterType="int">
        delete from user where id = #{id};
    </delete>

</mapper>