<?xml version="1.0"  encoding="UTF8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tanyiqu.mapper.StudentMapper">

    <!--
    思路1
        1.查询所有学生
        2.根据查询出的tid查询教师
    -->
    <select id="getStudents" resultMap="TeacherStudent">
        select * from student;
    </select>
    <resultMap id="TeacherStudent" type="student">
        <association property="teacher" column="tid" javaType="teacher" select="getTeacher"/>
    </resultMap>
    <select id="getTeacher" resultType="teacher">
        select * from teacher where id=#{id};
    </select>


    <!--
    思路2 按结果嵌套处理
    -->
    <select id="getStudents2" resultMap="TeacherStudent2">
        select s.id sid, s.name sname,t.id tid, t.name tname
        from student s, teacher t
        where s.tid = t.id
    </select>
    <resultMap id="TeacherStudent2" type="student">
        <result property="id" column="sid"/>
        <result property="name" column="sname"/>
        <association property="teacher" javaType="teacher">
            <result property="id" column="tid"/>
            <result property="name" column="tname"/>
        </association>
    </resultMap>

</mapper>